.home__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0rem;
}

.home__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 6em;
}

@media screen and (max-width: 1280px) {
    .home__container {
        flex-direction: column;
        justify-content: left;
        align-items: left;
        gap: 1rem;
    }
    
}