// This file handle all typography base styles for the project

body {
  font-family: $--font-roboto;
  line-height: $--line-height-md;
}

body.light {
  div, a, li, button, input, h1, h2, h3, h4, h5, h6 {
    color: $--clr-light-text;
  }
  background-color: $--clr-light-background;
}

body.dark {
  div, a, li, button, input, h1, h2, h3, h4, h5, h6 {
    color: $--clr-dark-text;
  }
  background-color: $--clr-dark-background;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $--font-weight-bold;
  line-height: $--line-height-lg; 
  font-family: $--font-poppins;
}   

h1 {
  font-size: $--font-size-xxl;
}

h2 {
  font-size: $--font-size-xl;
}

h3 {
  font-size: $--font-size-lg;
}

h4 {
  font-size: $--font-size-md;
}

h5 {
  font-size: $--font-size-sm;
}

h6 {
  font-size: $--font-size-xs;
}

p {
  font-size: $--font-size-md;
  line-height: $--line-height-md;
}

a {
  font-size: $--font-size-md;
  text-decoration: none;
  color: $--clr-light-primary;
  font-family: $--font-roboto;
}

ul, ol {
  list-style: none;
}