// Path : src/stylesheets/components/_navbar.scss

$font-size-xxs: 0.75em;
$font-size-xs: 0.875em;
$font-size-sm: 1em;
$font-size-md: 1.25em;
$font-size-lg: 1.5em;
$font-size-xl: 2em;
$font-size-xxl: 3em;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$line-height-xs: 1.25;
$line-height-sm: 1.5;
$line-height-md: 1.75;
$line-height-lg: 2;
$line-height-xl: 2.25;

$border-radius: 0.25rem;
$border-radius-sm: 0.125rem;
$border-radius-lg: 0.5rem;

$transition-duration: 0.3s;
$transition-timing-function: ease-in-out;
