body[data-theme='light'] {
    --clr-primary: #00C3FF !important;
    --clr-secondary: #1FABD6 !important;
    --clr-text: #212121 !important;
    --clr-dark-text: #282828 !important;
    --clr-background-light: #D6D6D6 !important;
    --clr-background: #DEDEDE !important;
    --clr-background-dark: #BEBEBE !important;
}

body[data-theme='dark'] {
    --clr-primary: #00C3FF !important;
    --clr-secondary: #29B5E0 !important;
    --clr-background-light: #282828 !important;
    --clr-background: #212121 !important;
    --clr-background-dark: #1C1C1C !important;
    --clr-text: #DEDEDE !important;
    --clr-dark-text: #858585 !important;
}

:root {
    /* Colors variables */
    --clr-primary: #00C3FF;
    --clr-secondary: #29B5E0 ;
    --clr-background-light: #282828 ;
    --clr-background: #212121 ;
    --clr-background-dark: #1C1C1C ;
    --clr-text: #DEDEDE ;
    --clr-dark-text: #BEBEBE ;
    --clr-gradient: linear-gradient(90deg, var(--clr-primary), var(--clr-secondary));

    /* Fonts */
    --font-roboto: 'Roboto', sans-serif;
    --font-poppins: 'Poppins', serif;
  
    /* Font sizes */
    --font-size-xxs: 0.75em;
    --font-size-xs: 1em;
    --font-size-sm: 1.25em;
    --font-size-md: 1.5em;
    --font-size-lg: 2em;
    --font-size-xl: 3em;
    --font-size-xxl: 3.75em;
  
    /* Font weights */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
  
    /* Breakpoints */
    --breakpoint-xxs: 768px;
    --breakpoint-xs: 1024px;
    --breakpoint-sm: 1280px;
    --breakpoint-md: 1366px;
    --breakpoint-lg: 1680px;
    --breakpoint-xl: 1920px;
  
    /* Border radius */
    --border-radius-sm: 5px;
    --border-radius-md: 10px;
    --border-radius-lg: 20px;
    --border-radius-xl: 50px;
  
    /* Shadows */
    --shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --shadow-md: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  
    /* Transitions */
    --transition: all 0.3s ease-in-out;
  
    /* Line Height */
    --line-height-xs: 1;
    --line-height-sm: 1.25;
    --line-height-md: 1.5;
    --line-height-lg: 2;
  }
  
